@use '@angular/material' as mat;

:root {
  .btn-error{
    @include mat.button-overrides((
      filled-container-color: var(--mat-sys-error),
      filled-label-text-color: var(--mat-sys-on-error),
    ));
  }
}
