@use 'mixins/media-query' as mq;

.transactions {
  margin: 24px 0;
}

.transaction {
  display: block;
  margin-bottom: 12px;
}

.actions {
  display: flex;              // Permitir mover
  flex-direction: column;
  align-items: center;   // Centralizar por padrão
  margin: 24px 0;

  .search {
    order: 2;  // Mover para baixo em telas pequenas
  }

  .add-transaction {
    order: 1;  // Mover para cima em telas pequenas
    margin-bottom: 24px;
  }

  @include mq.media-query(sm) {
    flex-direction: row;

    .search {
      order: 1;  // Mover para cima em telas maiores
    }

    .add-transaction {
      order: 2;  // Mover para baixo em telas maiores
      margin-left: auto;
    }
  }
}
