<app-balance [transactions]="transactions()" ></app-balance>

@defer (when canLoadComponent(); on interaction(interactionClick)) {
  <app-pie-chart [config]="chartConfig()"></app-pie-chart>
} @loading(minimum 1s) {
  <p>Carrgando conteúdo</p>
} @placeholder(minimum 1s) {
  <div>
    <button>Clique Inválido</button>
  </div>

  <div>
    <button #interactionClick>Clique usando interaction</button>
  </div>

  <div>
    <button (click)="canLoadComponent.set(true)">Clique usando When</button>
  </div>
} @error {
  <p>Erro ao carregar componente!</p>
}
